/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment: fixed;
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    /* using and Apple system font provides native support for dynamic type on iOS 7,
       but if used with the MobileAccessibility plugin's usePreferredTextZoom feature,
       font scaling will be applied twice. */
    /* font: -apple-system-tall-body; */
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    text-align: center;
    position: absolute;
}

body.amazon-fireos {
    font-size: 150%;
}

body .android-specific,
body .ios-specific {
    display: none;
}

body.ios .ios-specific,
body.android .android-specific,
body.amazon-fireos .android-specific    {
    display: block;
}

[hidden] {
    display:none;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    height:auto; /* text area height */
    text-align:center;
    padding:180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: 25% auto 5% auto;  /* offset vertical: half of image height and text area height */
                         /* offset horizontal: half of text area width */
    max-width: 100%;
    width:19em; /* text area width */

    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:0.75em;
    font-weight: 200;
    position:relative;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left -20px;
        padding: 60px 0px 60px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin: 15% auto 3% auto; /* offset vertical: half of image height */
                            /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:2em;
    font-weight: 200;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

h2 {
    font-size:1.5em;
    font-weight: 200;
    margin:0.5em 0 0;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.statusitem > p,
.statusitem > button {
    border-radius: 4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size: 1em;
    font-weight: normal;
    margin: 0 auto 0.25em;
    padding:2px;
    border-style: none;
    position: relative;
    box-sizing: border-box;
    background-clip: padding-box;
    width: 90%;
    max-width: 90%;
    text-transform:uppercase;
}

.statusitem > button {
    background-color: #1379CA;
    display:block;
}

.statusitem > button:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.statusitem > .listening,
.statusitem > .off {
    background-color:#333333;
    display:block;
}

.statusitem > .received,
.statusitem > .on {
    background-color:#4B946A;
    display:none;
}

.statusitem > .alert {
    background-color:#EC514E;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.title {
    letter-spacing: -.065em;
}

input[type="checkbox"] {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: middle;
  outline: none;
  height: 1em;
  width: 1em;
  margin-top: 0;
  margin-right: -1em;
  margin-bottom: -1em;
  margin-left: 0;
  line-height: 1em;
}

.topcoat-checkbox__checkmark {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1em;
  height: 1em;
  line-height: 1em;
}

.topcoat-checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: start;
}

input[type="checkbox"]:disabled + .topcoat-checkbox__checkmark {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.topcoat-checkbox__checkmark:before,
.topcoat-checkbox__checkmark:after {
  content: '';
  position: absolute;
}

.topcoat-checkbox__checkmark:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  width: 1em;
  height: 1em;
  background: #e5e9e8;
  border: 0.0625rem solid #9daca9;
  border-radius: 3px;
  box-shadow: inset 0 0.0625rem #fff;
  line-height: 1em;
}


input[type="checkbox"]:checked + .topcoat-checkbox__checkmark:after {
  opacity: 1;
}

.topcoat-checkbox__checkmark:after {
  top: 0.125em;
  left: 0.0625em;
  opacity: 0;
  width: 0.875em;
  height: 0.25em;
  background: transparent;
  border: 0.4375em solid #454545;
  border-width: 0.1875em;
  border-top: none;
  border-right: none;
  border-radius: 1px;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
  line-height: 1em;
}

input[type="checkbox"]:focus + .topcoat-checkbox__checkmark:before {
  border: 0.0625rem solid #0036ff;
  box-shadow: inset 0 0.0625rem rgba(255,255,255,0.36), 0 0 0 0.125em #6fb5f1;
}

input[type="checkbox"]:active + .topcoat-checkbox__checkmark:before {
  border: 0.0625rem solid #9daca9;
  background-color: #d2d6d6;
  box-shadow: inset 0 0.0625rem rgba(0,0,0,0.1);
}

input[type="checkbox"]:disabled:active + .topcoat-checkbox__checkmark:before {
  border: 0.0625rem solid #9daca9;
  background: #e5e9e8;
  box-shadow: inset 0 0.0625rem #fff;
}
